* {
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 1rem;
    font-size: large;
    border: none;
    font-weight: bold;
    color:rgb(230, 230, 252);
    background-color: rgb(12, 69, 119);
}

span {
    padding: 1rem;
    font-size: large;
    border: none;
    font-weight: bold;
    color:rgb(230, 230, 252);
    background-color: rgb(199, 120, 29);
}